.main {
    min-height: 70.6vh;
    padding-left: 11vw;
    padding-right: 16vw;
    margin-bottom: 60px;
    .wishlist-title {
        padding: 1vw;
        text-align: left;
        margin-top: 150px;
        background: #f5f5f5 0% 0% no-repeat padding-box;
        border: 1px solid #e4e4e4;
        border-radius: 1px;
        opacity: 1;
        .mywishlist {
            font-size: 20px;
            letter-spacing: 0px;
            color: #0a0102;
            font-weight: bold;
        }
    }
    .wishlist-items {
        text-align: left;
        color: black;
        min-width: 50%;
        background-color: "red";
        .empty{
            text-align: center;
            margin-top: 100px;
        }
        .book {
            padding: 2vw;
            background: #ffffff 0% 0% no-repeat padding-box;
            border: 1px solid #e4e4e4;
            opacity: 1;
            display: grid;
            grid-template-columns: 1fr 8fr 7fr;
            .details {
                padding-left: 3vw;
                
                .book-name {
                    font-weight: bold;
                    color: #0a0102;
                }
                .author {
                    color: #9d9d9d;
                    opacity: 1;
                }
                .price {
                    font-weight: bold;
                }
            }
            .buttons{
                margin-left: 30px;
                display: flex;
                justify-content: right;
                align-items: center;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .main {
        min-height: 76.2vh;
        padding-left: 5vw;
        padding-right: 5vw;
        .wishlist-title{
            margin-top: 100px;
        }
        .book {
            grid-template-columns: 1fr 6fr 8fr;
            .buttons{
                margin-left: 10px;
            }
        }
    }
    
}

@media only screen and (max-width: 500px) {
    .main {
        .wishlist-items {
            .book {
                display: grid;
                grid-template-columns: 1fr 8fr ;
                .image{
                    margin-top: 10px;
                }
                .buttons{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    margin-left: 3px;
                   grid-column: 1/span 2;
                   
                }
            }
        }
    }
    
}