.header{
    z-index: 1;
}
.pop-items{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 10px 20px;
    min-width: 200px;
    .title{
        margin: 0px;
        padding: 20px 0px;
        font-weight: bold;
    }
    .wishlist{
        margin: 0px;
        cursor: pointer;
        padding-bottom: 20px;
        display: flex;
        justify-content: left;
        align-items: left;
        .text{
            padding-left: 5px;
            padding-bottom: 3px;
            color: #878787;
        }
    }
}

@media only screen and (max-width: 900px) {
    .header-name{
        display: none;
    }
}