.myCart {
    padding-left: 11vw;
    padding-right: 11vw;
    min-height: 85vh;
    .first-section {
        margin-top: 4vw;
        max-width: 60%;
        background: #ffffff 0% 0% no-repeat padding-box;
        border: 1px solid lightgrey;
        border-radius: 1px;
        padding: 1vw;
        padding-left: 2vw;
        .title {
            text-align: left;
            font: normal normal medium 18px/22px Roboto;
            letter-spacing: 0px;
            color: black;
            margin-bottom: 2vw;
        }
        .cart-items {
            text-align: left;
            color: black;
            min-width: 50%;
            background-color: "red";
            .book {
                display: grid;
                grid-template-columns: 1fr 8fr;
                margin-bottom: 2vw;
                .details {
                    padding-left: 3vw;
                    .plus-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 28px;
                        height: 28px;
                        border-radius: 100%;
                        border: 1px solid #dbdbdb;
                        font-size: 30px;
                        color: black;
                        cursor: pointer;
                        background-color: #fafafa;
                    }
                    .plus-icon:disabled {
                        opacity: 0.5;
                        cursor: default;
                    }
                    #plus {
                        font-size: 20px;
                    }
                    .book-name {
                        color: #0a0102;
                    }
                    .author {
                        color: #9d9d9d;
                        opacity: 1;
                    }
                    .price {
                        font-weight: bold;
                    }
                }
            }
        }
        .place-order {
            display: flex;
            align-items: right;
            justify-content: right;
        }
    }
    .second-section {
        margin-top: 1vw;
        max-width: 60%;
        background: #ffffff 0% 0% no-repeat padding-box;
        border: 1px solid lightgrey;
        border-radius: 1px;
        padding: 1vw;
        padding-left: 2vw;
        .customer-details {
            text-align: left;
            font-weight: lighter;
            .textfield {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 0.5vw;
                max-width: 55%;
            }
        }
        .continue {
            display: flex;
            align-items: right;
            justify-content: right;
        }
    }
    .third-section {
        margin-top: 1vw;
        max-width: 60%;
        background: #ffffff 0% 0% no-repeat padding-box;
        border: 1px solid lightgrey;
        border-radius: 1px;
        padding: 1vw;
        padding-left: 2vw;
        .order-summary {
            text-align: left;
            font-weight: lighter;
            .textfield {
                max-width: 55%;
            }
        }
        .cart-items {
            text-align: left;
            color: black;
            min-width: 50%;
            background-color: "red";
            .book {
                display: grid;
                grid-template-columns: 1fr 8fr;
                margin-bottom: 2vw;
                .details {
                    padding-left: 3vw;
                    .book-name {
                        color: #0a0102;
                        font-weight: bold;
                    }
                    .author {
                        color: #9d9d9d;
                        font-weight: bold;
                    }
                    .price {
                        font-weight: bold;
                    }
                }
            }
        }
        .checkout {
            display: flex;
            align-items: right;
            justify-content: right;
        }
    }
}

@media only screen and (max-width: 1900px) {
    .myCart {
        .second-section {
            .customer-details {
                .textfield {
                    display: flex;
                    flex-direction: column;
                    // max-width: 55%;
                }
            }
        }
    }
}

@media only screen and (max-width: 1600px) {
    .myCart {
        .first-section {
            max-width: 70%;
        }
        .second-section {
            max-width: 70%;
            .customer-details {
                .textfield {
                    display: flex;
                    flex-direction: column;
                    // max-width: 55%;
                }
            }
        }
        .third-section {
            max-width: 70%;
        }
    }
}

@media only screen and (max-width: 1300px) {
    .myCart {
        .second-section {
            .customer-details {
                .textfield {
                    display: flex;
                    flex-direction: column;
                    max-width: 70%;
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .myCart {
        .first-section {
            max-width: 90%;
        }
        .second-section {
            max-width: 90%;
            .customer-details {
                .textfield {
                    display: flex;
                    flex-direction: column;
                    // max-width: 55%;
                }
            }
        }
        .third-section {
            max-width: 90%;
        }
    }
}

@media only screen and (max-width: 500px) {
    .myCart {
        min-height: 73vh;
        padding-left: 2vw;
        padding-right: 2vw;
        .first-section {
            max-width: 100%;
        }
        .second-section {
            max-width: 100%;
            .customer-details {
                .textfield {
                    display: flex;
                    flex-direction: column;
                    max-width: 90%;
                }
            }
        }
        .third-section {
            max-width: 100%;
        }
    }
}